html {
  background: url("images/triceratops.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
body {
  overflow: auto;
  font-family: calibri;
  background-color: rgba(255,255,255,0.1);
  margin: 0;
}
.main {
  overflow: auto;
  margin-left:0.5%;
  transition: margin-left .5s;
  height:100vh;
}
.header {
  top:0;
  height: 5%;
  width: 100%;
  padding: 0px;
}
.navigation {
  float:left;
  height: 100vh;
  margin:0;
  margin-top:1%;
  width: 0.5%;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
  overflow-x: hidden;
}
.navigation h2 {
  box-sizing: border-box;
  color: black;
  height: 5%;
  margin-bottom:0;
  padding: 0;
  margin-left: 20px;
}
.navigation .buttonbox{
margin-top: 
box-sizing: border-box;
padding:0;
}
.navigation .button {
  padding: 0;
  text-align: left;
  border: none;
  background-color: Transparent;
  text-indent: 25px;
  width: 100%;
  height: 30px;
  color: black;
  transition: 0.3s;
}
.navigation .button:hover{
  background-color: rgba(255,255,255,0.5);
}
.navigation .button:focus {
  background-color: rgba(255,255,255,0.75);
  border: none;
  outline: none;}
  
 .content {
 padding:0;
 height: 80%;
 width: 100%;
}

.content .toolbar{
height: 5%;
}

.content .list{
  background-color: rgba(255,255,255,0.75);
  height: 95%;
  width: 100%;
  overflow: auto;
}

.row {
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  background-color: Transparent;
  font-size: 15px;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  padding: 4px;
  margin: 0;}
.list .row:not(:last-child){
  border-bottom: none;
}

.taskContent{
	transition: 0.5s;
	display:none;
}
